* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    justify-content: center;
    background-color: #17191C;
    align-items: center;
}

.tudao{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    align-items: center;
}

.container {
    background-color: #17191C;
    display: flex;
    align-items: center;
    padding: 50px;
    width: 70%;
}

.text-content {
    max-width: 50%;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.community-link {
    color: #1e90ff;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
}

.community-link:hover {
    text-decoration: underline;
}

.chat-bubbles {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.chat-bubbles img{
    width: 600px;
}
.bubble {
    background-color: #2c2c2c;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-icon {
    font-size: 1.5rem;
}

.message {
    background-color: #383838;
    padding: 10px;
    border-radius: 5px;
}

.emoji {
    font-size: 1.5rem;
}
